pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
arxiv
pymupdf
wikipedia
faiss-cpu
langchain_google_genai
langchain_huggingface
langchain_pinecone
youtube_search
langgraph
chromadb
protobuf==3.20.3
duckduckgo-search
yfinance
langchain_groq
langchain_experimental
matplotlib
autogen-agentchat>=0.6.4
autogen-core
autogen-ext
dotenv
openai
ollama
tiktoken
autogen-ext[http-tool]
autogen-ext[openai]
langchain-community
langchain
autogen-ext[openai,azure]>=0.6.4